@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

:root {
  --primary-color: #3e41e0;
  --secondary-color: #e5d3f8;
  --text-color: #090901;
  --background-color: #fcfced;
  --accent-color: #2483db;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  color: var(--text-color);
}

ul {
  list-style: none;
}

.main {
  display: grid;
  grid-template-columns: 350px auto;
  background-color: var(--background-color);
}

.main__body {
  outline-style: solid;
  margin: 2rem;
}

.fill_icon {
  fill: var(--primary-color);
}

.fill_icon-accent {
  fill: var(--accent-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
