@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

:root {
  --primary-color: #3e41e0;
  --secondary-color: #e5d3f8;
  --text-color: #090901;
  --background-color: #fcfced;
  --accent-color: #2483db;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  color: var(--text-color);
}

ul {
  list-style: none;
}

section {
  margin-top: 1rem;
}

.section__header {
  font-size: 1.7rem;
  color: var(--primary-color);
}

.main {
  display: grid;
  grid-template-columns: 350px auto;
  background-color: var(--background-color);
}

.main__body {
  margin: 2rem;
}

.fill_icon {
  fill: var(--primary-color);
}

.fill_icon-accent {
  fill: var(--accent-color);
}

.primary__btn {
  width: max-content;
  border: none;
  background-color: var(--accent-color);
  padding: 0.8rem 1rem;
  box-shadow: var(--shadow);
  font-size: 1rem;
  color: var(--secondary-color);
  border-radius: 1rem;
}

button:hover {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
